.Layout-light {
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #fafafa;
  box-sizing: border-box;
}

.Layout-dark {
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  box-sizing: border-box;
}

button {
  font-size: 8px;
  padding: 5px;
}

input {
  box-sizing: border-box;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 3px;
  height: 30px;
  width: 100%;
}

input:focus {
  border: 2px solid #1976d2;
}

.light {
  color: black;
  background-color: whitesmoke;
}

.dark {
  color: white;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.spiner {
  text-align: center;
}

.filter-fade-enter {
  opacity: 0;
  transform: scale(0.1);
}
.filter-fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms linear;
}
.filter-fade-exit {
  opacity: 1;
  transform: scale(1);
}

.filter-fade-exit-active {
  opacity: 0;
  transform: scale(0.1);
  transition: all 250ms linear;
}

.notification {
  position: absolute;
  right: 20px;
  width: 35%;
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  border: 1px solid;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 5px 5px 5px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.notification-fade-enter {
  opacity: 0;
  transform: translateX(100%);
}
.notification-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}
.notification-fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.notification-fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 250ms linear;
}
