.contactsContainer {
  width: 400px;
}

.filter-fade-enter {
  opacity: 0;
  transform: scale(0.1);
}
.filter-fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms linear;
}
.filter-fade-exit {
  opacity: 1;
  transform: scale(1);
}

.filter-fade-exit-active {
  opacity: 0;
  transform: scale(0.1);
  transition: all 250ms linear;
}
